{% load i18n %}
<header>
    <nav class="top-nav">
        <ul class="menu">
            <li><a href="{% url 'front_home' %}">{% trans 'Home' %}</a></li>
            <li><a href="{% url 'games_menu' %}">{% trans 'Games' %}</a></li>
            <li><a href="{% url 'champions_page' %}">{% trans 'Champions' %}</a></li>
            <li><a href="{% url 'how_to_play' %}">{% trans 'How To Play' %}</a></li>
            <li><a href="{% url 'game_history_page' %}">{% trans 'Game History' %}</a></li>
            <li><a href="{% url 'leaderboard' %}">{% trans 'Leaderboard' %}</a></li>
        </ul>
        <div class="nav-icons">
            <i class="fab fa-whatsapp"></i>
            <i class="fas fa-times"></i>
            <i class="fas fa-share-alt"></i>
        </div>
    </nav>
</header>