<header>
    <nav class="top-nav">
        <ul class="menu">
            <li><a href="{% url 'champions' %}">Şampiyonlar</a></li>
            <li><a href="{% url 'how_to_play' %}">Nasıl Oynanır?</a></li>
        </ul>
        <div class="nav-icons">
            <i class="fab fa-whatsapp"></i>
            <i class="fas fa-times"></i>
            <i class="fas fa-share-alt"></i>
        </div>
    </nav>
    <div class="hero">
        <h1>ŞAMPİYON<br><span>TAHMİN OYUNU</span></h1>
        <p>Hangi <span class="highlight">LoL</span> şampiyonunu tahmin ettiğimi bilmek ister misin?<br>
            Şampiyon ismini yaz ve beni 10 adımda yenmeye çalış.</p>
    </div>
</header>